@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}
.container {
  display: flex; /* Make the container element flexible */
  justify-content: center; /* Center elements horizontally */
  align-items: center; /* Center elements vertically */
  border-color: black;
  border-radius: 12px ;
}

.input-container {
  margin: 10px; /* Add some margin for spacing */
  border-radius: 12px ;
  border-color: black;
}
.button{
  background-color: black;
}